
###> symfony/framework-bundle ###
/.env
/.env.*
/.env.test
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
.env.test
/var/cache/
/var/log/*.log

/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> PhpStorm config files ###
/.idea
/.idea/*
###< PhpStorm config files ###

/.idea/
